html {
    font: 62.5%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
}


*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-image: url('img/wallpaper-liga-mx.webp');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
}

.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 30px 50px;
    gap: 30px;
    background-color: #fff;
}

@media (min-width: 820px) {
    .header {
        flex-direction: row;
        gap: 0;
    }
}

.header__texto {
    font-size: 70px;
    margin: 0;
    text-transform: uppercase;
}

.header__img {
    width: 200px;

}

.logo {
    margin-right: 5%;
}

@media (min-width: 820px) {
    .header__img {
        width: 150px;
        margin: 0 30px;
    }
}

.header__nav {
    display: flex;
}

@media (min-width: 820px) {
    .header__nav {
        flex-direction: row;
        justify-content: space-between;
        margin: 0 20px;
    }
}

.header__nav a {
    text-decoration: none;
    color: #111;
    font-size: 25px;
    padding: 10px 20px;
    transition: all 0.3s;
}

.header__nav a:hover {
    color: #fff;
    background-color: #e74c3c;
    font-size: 30px;
    padding: 10px 20px;
    transition: all 0.3s;
}

.opciones {
    display: flex;
    max-width: 95%;
    justify-content: space-between;
    margin: 20px auto;
}

#nombre {
    background-color: #e7e7e7;
    border: 1px solid #d8d8d8;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
}

.jugar {
    background-color: #2ecc71;
    /* Color de fondo rojo */
    border: 1px solid #2ea560;
    /* Borde sólido de 1 píxel de ancho en color negro (#000) */
    border-radius: 5px;
    /* Borde redondeado */
    color: #fff;
    /* Color de texto blanco */
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 2px 20px;
    /* Espaciado interno (10px arriba/abajo, 20px izquierda/derecha) */
    cursor: pointer;
    /* Cambia el cursor a una mano al pasar el mouse */
}



.jugar:hover {
    background-color: #43e185;
}

.reiniciar {
    background-color: #e74c3c;
    border: 1px solid #8d2e23;
}

.reiniciar:hover {
    background-color: #e96658;
}

.tiempo {
    background-color: #fff;
    /* Color de fondo rojo */
    border: 1px solid #ccc;
    /* Borde sólido de 1 píxel de ancho en color negro (#000) */
    border-radius: 5px;
    /* Borde redondeado */
    color: #111;
    /* Color de texto blanco */
    align-items: center;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;

    padding: 2px 20px;
    /* Espaciado interno (10px arriba/abajo, 20px izquierda/derecha) */
}

.intentos {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #111;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 2px 20px;
}

.bloqueo {
    pointer-events: none;
}

.bloqueo .carta {
    background-color: rgba(255, 255, 255, 0.537);
}

.memorama {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    gap: 30px;
}

@media (min-width: 820px) {
    .memorama {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1024px) {
    .memorama {
        grid-template-columns: repeat(4, 1fr);
    }

    .opciones {
        flex-direction: row;
    }
}

@media (max-width: 820px) {
    .opciones {
        flex-direction: column;
        align-items: center;
    }

    #nombre,
    .jugar,
    .reiniciar,
    .tiempo,
    .intentos {
        margin-bottom: 10px;
    }
}

@media (max-width: 576px) {
    .header {
        padding: 20px 30px;
    }

    .header__texto {
        font-size: 40px;
    }

    .header__img {
        width: 150px;
    }

    .opciones {
        flex-direction: column;
        align-items: center;
    }

    #nombre,
    .jugar,
    .reiniciar,
    .tiempo,
    .intentos {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .carta {
        height: 160px !important;
        width: 160px !important;
        font-size: 18px;
        margin-left: 0;
    }

    .memorama {
        grid-template-columns: repeat(2, 1fr);
    }
}

.footer {
    background-color: #111;
    color: #fff;
    width: 100%;
    margin-top: 50px;
    text-align: center;
}

.carta {

    width: 250px;
    height: 250px;
    background: #ddd;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 24px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
    user-select: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    /* Nueva propiedad box-shadow */
}

.carta.dada_vuelta {
    background: #fff;
    transition: all 0.5s;
    pointer-events: none;
}

.carta.par img {
    opacity: 0.5;
    pointer-events: none;
    /* Esto evitará que las cartas emparejadas se puedan hacer clic */
}

/* Agrega esta regla para ocultar las imágenes */
.carta img {

    display: none;
    width: 90%;
    height: auto;
    transition: all 0.2s;
}

/* Agrega esta regla para mostrar la imagen cuando se dé vuelta la carta */
.carta.dada_vuelta img {
    display: block;
}

.mensaje-victoria {
    display: none;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 70px;
    font-weight: bold;
    color: #111;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    z-index: 1000;
}

/*Tabla de Rankings*/

h2 {
    text-align: center;
    color: #f9f9f9;
}
.estilosRank {
    width: 100%;
    margin: 20px 0;  
}

.estilosRank th,
.estilosRank td {
    border: 1px solid #555;
    padding: 10px;
    text-align: center;

}

.estilosRank th{
    color: black;
    background-color: #D1F2EB;
}
.estilosRank td{
    color: white;
}

.columnas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15rem;
}
.estilosRank tr:hover {
    background: rgba(0, 0, 0, 0.4);
}

@media (max-width: 768px) {
    .columnas{
        margin: 0px;
        gap: 1rem;
        grid-template-columns: repeat(1, 1fr);
    }
    
}

